# Output files
*.log
*.json
*.html
web_audit_*

# Config overrides
auditweb.conf

# System files
.DS_Store
*.swp
*~

# Python and Build files
__pycache__/
*.py[cod]
*$py.class
.venv/
build/
dist/
*.egg-info/
